*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
 font-size: 16px;
 line-height: 26px;
}

// variable 

$primary-font :'Raleway', sans-serif;;
$primary-color: rgb(20, 177, 169);
$root-color:#000;
$secondary-color:#fff;

//mixin function 

@mixin flex-property {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

// @mixin  nav-item {
//     padding: 8px 16px;
//     margin: 5px;
//     background-color: $primary-color;
//     color: $secondary-color;
//     font-weight: 700;
// }

.more{
    padding: 8px 18px;
    margin: 5px;
    background-color: $primary-color;
    color: $secondary-color;
    font-weight: 700;
    border: 0px ;
    font-size: 15px;
}

header{
 background-image: url('/header.gif');
 height: 60vh;
 width: 100%;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
 position: relative;


 nav{
    @include flex-property();
    .logo{
       font-size: 26px;
       font-family: 'UnifrakturMaguntia', cursive;
       letter-spacing: 3px;
       text-decoration: none;
    }
    ul{
        list-style: none;
       

        li{
            display: inline-block;

            a{
                display: block;
                color: $primary-color;
                margin: 15px;
                text-decoration: none;
                border-radius: 2px;
                font-size: 24px;
                letter-spacing:1px

            };
        }
    }
 }


 // header content 

 .headings{
    color: $secondary-color;
    position: absolute;
    top: 40%;
    left: 10%;

    h1{
        line-height: 40px;
    }

    p{
        font-size: 16px;
        line-height: 26px;

    }
}

}

.info{
    margin: 0px 30px;
}


.flex-box{
    @include flex-property();

    section{
        border: 1px solid rgb(223, 221, 221);
        padding: 10px;
        margin: 15px 10px;
        box-shadow: 1px 1px 1px rgb(179, 178, 178);


        h2{
            font-size: 18px;
            line-height: 28px;
            padding: 5px;
            width: 80%;
            text-align: center;
        }

        p{
            font-size: 16px;
            color: rgb(124, 113, 113);
            line-height: 24px;
            width: 90%;
            margin: 0 auto;
        }

        button{
            margin-left: 12px;
        }
    }
}

.testimonial-wrapper{

    .inner{
        padding: 15px 25px;
        // border: 1px solid red;
        width: 60%;
        margin: 0 auto;

        h2,p{
            text-align: center;
                
        };
        .flex-box{
        margin-top: 15px;
               @include flex-property(); 

            }
           .testimonial{
                    border: 1px solid rgb(223, 221, 221);
                    box-shadow: 1px 1px 1px rgb(179, 178, 178);
                    width: 25%;
            img{
                height: 250px;
                width: 100%
            };
            h3,h5{
                text-align: center;
            };
            
        }
        



    }
}

.image-gallery{
    .heading-imgaes{
        text-align: center;
        margin: 20px 0px;
        
    }

    .flex-box{
        @include flex-property()
    }
    img{
        height: 250px;
        width: 100%;
    }


}



    .inner-footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
    //   gap: 15px;

      .socialmedia{
        // border: 1px solid red;
        flex-basis: 250px;
    
          span{
            margin:0px 10px;
          }
      }

    }


    





